{% extends 'layouts/base.html.twig' %}
{% block title 'Pin' %}
{% block body %}
  {% if pins|length > 0 %}
  <h1 class="mb-4 text-muted text-center "> {{ pluralize(pins|length, 'Pin') }} ✅ :</h1>
    {% for row in pins|batch(3) %}
      <div class="row mb-5">
        {% for pin in row %}
              <div class="my-4 col-md-4">
                <article class="pin bg-white rounded shadow">
                  <div class="rounded-top mw-100 overflow-hidden">
                    <a href="{{ path('app_pins_show',{id: pin.id} )}}">
                      <img class="w-100 " src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.png')) | imagine_filter('squared_thumbnail') }}" alt="{{ pin.title }}" />
                    </a>
                  </div>
                  <h2 class="pl-3 pt-3 text-secondary">
                    <a class=" text-muted text-decoration-none" href="{{ path('app_pins_show',{id: pin.id} )}}">{{ pin.title }}</a> 
                  </h2>
                  <!-- <p>{{ pin.description |u.truncate(10, '...', false)}} </p> -->
                  <p class="text-muted  pl-3 pb-3" >Submitted <small> {{ pin.user.fullName }}</small>  </p>
                </article>
              </div>
          {% endfor %}
        </div>
    
      {% endfor %}

  {% else %}
    <p class="mt-5 h1 text-center" >No pins yet. <a href="{{ path('app_pins_create')}}">Be the first!</a> </p>
  {% endif %} 
{% endblock %}
